li.nav-item.active {
    border: solid 1px #fff;
    border-radius: 50px;
}

* {
    font-family: 'Comfortaa', cursive;
}

.cover-pic{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
  }
  

.cover-pic{
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: auto;
  }

.g-mt-9 {
    margin: 0.9rem 0 0;    
    border-radius: 0;
}  

.g-border-radius-0 {
    border-radius: 0;
}

.g-header-color {
	color: #8654da;
}
  